In [52]:
import pandas as pd

In [53]:
df= pd.read_csv("Data\Boston.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [54]:
#x = df.iloc[:,:-1]
#y = df["medv"]

x= df[['chas', 'nox', 'rm', 'age']]
y = df["medv"]

In [55]:
x

     chas    nox     rm   age
0       0  0.538  6.575  65.2
1       0  0.469  6.421  78.9
2       0  0.469  7.185  61.1
3       0  0.458  6.998  45.8
4       0  0.458  7.147  54.2
..    ...    ...    ...   ...
501     0  0.573  6.593  69.1
502     0  0.573  6.120  76.7
503     0  0.573  6.976  91.0
504     0  0.573  6.794  89.3
505     0  0.573  6.030  80.8

[506 rows x 4 columns]

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x_train,x_test,y_tarin,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [58]:
x_train.shape , y_tarin.shape

((379, 4), (379,))

In [59]:
x_test.shape , y_test.shape

((127, 4), (127,))

In [60]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [62]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

**Random Forest Regration**

In [63]:
from sklearn.ensemble import RandomForestRegressor

In [64]:
rf = RandomForestRegressor(n_estimators=100)
rf.fit(x,y)

RandomForestRegressor()

In [65]:
rf.score(x_train,y_tarin)*100 , rf.score(x_test,y_test)*100

(96.57135145017332, 96.53741028031077)

In [66]:
x_test.head(5)

     chas    nox     rm   age
173     0  0.510  6.416  84.1
274     1  0.447  6.758  32.9
491     0  0.609  5.983  98.8
72      0  0.413  6.065   7.8
452     0  0.713  6.297  91.8

In [67]:
rf.predict(x_test)

array([22.56 , 31.507, 14.633, 22.625, 15.892, 20.404, 18.062, 16.176,
       19.37 , 17.046, 21.097, 18.787,  6.912, 21.736, 19.349, 30.141,
       18.666, 10.044, 49.547, 13.9  , 24.751, 27.142, 13.438, 23.193,
       13.709, 14.002, 20.234, 14.458, 21.511, 18.428, 21.231, 24.072,
       21.042, 18.421, 18.451, 18.274, 34.715, 19.662, 23.561, 23.616,
       18.138, 28.074, 48.886, 17.937, 23.561, 13.646, 13.468, 24.12 ,
       19.786, 23.885, 18.743, 34.506, 17.315, 26.772, 43.838, 21.474,
       15.865, 29.484, 23.926, 18.099, 26.545, 34.697, 30.634, 19.828,
       24.622, 19.048, 12.368, 24.38 , 28.743, 13.64 , 19.9  , 24.252,
       11.461, 20.827, 21.542,  5.816, 20.303, 48.709, 11.294,  9.487,
       20.476, 16.243, 20.678,  9.42 , 19.173, 28.008, 16.373, 24.927,
       24.581, 17.576, 22.238,  9.749, 20.248, 18.108, 23.957, 21.601,
       39.519, 18.457, 10.926, 21.74 , 21.521, 22.236, 11.653, 19.317,
       20.471, 15.681, 18.762, 24.832, 21.087, 24.536, 11.701, 26.827,
       21.135, 31.429, 32.245, 12.747, 41.922, 15.346, 20.901, 24.059,
       17.995, 24.534,  8.101, 18.924, 24.772, 21.09 , 23.916])